/* main color 
#212121
horev (blue) #2196F3
<p> color #757575
footer contact #FFFFFF + 60 %
(текст, фон, выделение
 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, VHelvetica Neue, sans-serif;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* nav */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: #212121;
}

.logo-studio-foot {
  color: white;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav a {
  color: #212121;
}

.contact-nav a {
  color: #757575;
}

/* nav end */

/* hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: rgba(255, 255, 255, 1);
}

.main-headline {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* hero end */

.second-headline {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.third-headline {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* portfolio.html portfolio-example  */

.portfolio-example {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.5;
  color: rgba(117, 117, 117, 1);
  letter-spacing: 0.03em;
}

.benefits {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-team {
  background-color: #f5f4fa;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

.personal {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

/* footer */

.footer-section {
  background-color: #2f303a;
}

.contact-foot {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-foot-adress {
  color: rgba(255, 255, 255, 1);
}

.contact-foot {
  color: rgba(255, 255, 255, 0.6);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* button set */
.button-main {
  cursor: pointer;
  background-color: #2196f3;
  border: 0;
}

.color-text-button {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: white;
  background-color: var(--accent-color);
}

.buttonsportfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

.button-portfolio {
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  border: 0;
}
