/* main color 
#212121
horev (blue) #2196F3
<p> color #757575
footer contact #FFFFFF + 60 %
(текст, фон, выделение
 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* general options */

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: #212121;
}

.logo-studio-foot {
  color: white;
}

/* start */

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 94px; */
}

/* header */

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 80px;
}

/* nav */

.main-nav {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
}

.main-nav .logo {
  margin-right: 40px;
}

.site-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav li {
  margin-left: 50px;
  justify-content: flex-start;
}

.site-nav a {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* contact-nav */

.contact-nav {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav li + li {
  margin-left: 50px;
}

.contact-nav a {
  color: #757575;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* nav end */

/* hero */

.hero {
  background-color: rgba(47, 48, 58, 1);
  height: 600px;
  width: 1600;
}

/* .hero-part {
  display: block;
  text-align: center;
  padding-top: 200px;
} */

.main-button-position {
  display: block;
  margin-top: 30px;
  text-align: center;
}

.hero-title {
  color: rgba(255, 255, 255, 1);
}

.main-headline {
  display: block;
  padding-top: 200px;

  color: var(--title-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* hero end */

.benefits {
  display: flex;
  justify-content: space-around;
  margin-top: 95px;
}

.benefits p {
  display: flex;
  justify-content: space-around;
  /* margin-top: 10px; */
}

.benefits {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.whatwedo-headline {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 95px;
  margin-bottom: 95px;
}

.team-headline {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 95px;
  /* margin-bottom: 95px; */
}

.whatwedo {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.third-headline {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* portfolio.html portfolio-example  */

.portfolio-example {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.5;
  color: rgba(117, 117, 117, 1);
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.portfolio:nth-last-child(-n + 3) {
  padding-bottom: 94px;
}

/* our-team */

.our-team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

.personal {
  display: flex;
  justify-content: space-around;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 50px;
}

.personal p {
  text-align: center;
}

.our-portfolio {
  margin-top: 35px;
}

/* portfolio section */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* footer */

.footer-section {
  background-color: #2f303a;
  height: 252px;
}

.contact-foot {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding-top: 60px;
}

.logo-footer {
  display: inline-block;
  /* margin-top: 20px; */
}

.contact-foot link {
  color: rgba(255, 255, 255, 1);
}

.adress-foot {
  display: inline-block;
  color: rgba(255, 255, 255, 1);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 20px;
}

.tel-foot {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.mail-foot {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* button set */
.button-main {
  cursor: pointer;
  background-color: #2196f3;
  border: solid #2196f3;
  border-radius: 4px;
  height: 50px;
  width: 200px;
}

.color-text-button {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: white;
  background-color: var(--accent-color);
}

.buttonsportfolio {
  display: block;
  text-align: center;

  margin-top: 30px;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #f5f4fa;

  cursor: pointer;
  border: 0;
  border-radius: 4px;
  height: 38px;
  width: 145px;
}
